html,
body {
    background-color: rgb(222, 164, 203);
    font-family: cursive;
    font-size: 23px;
}

.nav__link {
    margin: 0 10px;
    color: black;
    padding: 5px 15px;
    border-radius: 100px;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.nav__link.active,
.nav__link:hover {
    background-color: rgb(222, 164, 203);
    color: hsl(242, 61%, 62%);
}

h2 {
    margin-top: 150px;
    font-family: cursive;
    color: hsl(0, 61%, 62%);
}

p {
    font-family: cursive;
    text-align: center;
    font-size: 20px;
    color: brown;
}